<div class="container">
  <div class="row">
    <h1>Rock paper scissors</h1>
    <p>Click on rock, paper or scissors to play</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a class="rock" href="/results?choice=rock"><img src="http://www.homedepot.com/catalog/productImages/400/fd/fd01720f-4da1-4a2f-9acf-32bffd05ccc2_400.jpg" alt="" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <a class="paper" href="/results?choice=paper"><img src="http://pixelberrypie.com/wp-content/uploads/2012/09/Pixelberrypie.com-Scrap-Paper-Torn-Wrinkled-Used-Ripped-edge-Old-lined-paper-jpeg1.jpg" alt="" class="img-responsive"></a>
    </div>
    <div class="col-md-4">
      <a class="scissors" href="/results?choice=scissors"><img src="http://www.clipartbest.com/cliparts/bTy/EAk/bTyEAkyLc.png" alt="" class="img-responsive"></a>
  </div>
</div>
</div>



